* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  /* background-color: #01122b; */
  color: #e6edf3;
  line-height: 1.6;
  height: 200vh;
  background: linear-gradient(#000207,#030c19);
}

header {
  text-align: center;
  padding: 32px;
  background: linear-gradient(90deg, #011327, #00c6ff);
  color: white;
}

header h1 {
  font-size: 35px;
  margin-bottom: 0px;
}

header p {
  font-size: 20px;
}

.tips {
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.tip {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 12px;
  padding: 1.5rem;
  transition: transform 0.3s ease, background 0.3s ease;
}

.tip:hover {
  background-color: #1f6feb;
  transform: translateY(-5px);
}

.tip h2 {
  color: #09789a;
  margin-bottom: 0.5rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #010409;
  color: #8b949e;
  font-size: 0.9rem;
  margin-top: 1rem;
}