* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  color: #292b2b;
  line-height: 1.6;
  height: 200vh;
  background: linear-gradient(#000207,#030c19);
}

header {
  text-align: center;
  /* padding: 32px; */
  /* background: linear-gradient(90deg, #011327, #00c6ff); */
  color: white;
  position: relative;
}
.logo {
  width: 100%;
  height: auto;
  /* margin-bottom: 10px; */
  object-fit: cover;
  opacity: 0.60;
}


header h1 {
  font-size: 70px;
  margin-bottom: 0px;
  position: absolute;
  top: 30%;
  left: 40%;
}

header p {
  font-size: 40px;
  position: absolute;
  top: 43%;
  left: 40%;
}

.tips {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 250px;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #edf2f7;
}

.tip {
  background-color: #edf2f7;
  /* border: 1px solid #30363d; */
  border-radius: 12px;
  padding: 1.5rem;
  transition: transform 0.3s ease, background 0.3s ease;
}

.tip:hover {
  transform: translateY(-5px);
  h2 {
    color: #61050e;
  }
}



.tip h2 {
  color: #0a0a0a;
  margin-bottom: 0.5rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #010409;
  color: #8b949e;
  font-size: 0.9rem;
  margin-top: 1rem;
}

#tip1 {
  grid-column: 1/2;
  grid-row: 1/2;
  box-shadow: -4px 6px rgba(92, 91, 91, 0.1);
  fa-solid{
    color: black;
    font-size: 40px;
  }
}
#tip2 {
  grid-column: 2/3;
  grid-row: 2/3;
  box-shadow: 4px 6px rgba(92, 91, 91, 0.1);

}

#tip3 {
  grid-column: 1/2;
  grid-row: 3/4;
  box-shadow: -4px 6px rgba(92, 91, 91, 0.1);

}#tip4 {
  grid-column: 2/3;
  grid-row: 4/5;
  box-shadow: 4px 6px rgba(92, 91, 91, 0.1);

}#tip5 {
  grid-column: 1/2;
  grid-row: 5/6;
  box-shadow: -4px 6px rgba(92, 91, 91, 0.1);

}#tip6 {
  grid-column: 2/3;
  grid-row: 6/7;
  box-shadow: 4px 6px rgba(92, 91, 91, 0.1);

}#tip7 {
  grid-column: 1/2;
  grid-row: 7/8;
  box-shadow: -4px 6px rgba(92, 91, 91, 0.1);

}#tip8 {
  grid-column: 2/3;
  grid-row: 8/9;
  box-shadow: 4px 6px rgba(92, 91, 91, 0.1);

}


